 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a scientist working at
                    <a href="https://www.nasa.gov/goddard">NASA Goddard Space Flight Center</a> through
                    a cooperative agreement with Morgan State University (all views are my own). My
                    background is in applied mathematics. For about the past 30 years, my favorite toy
                    has been a computer of some form.</p>
                </div>
                <div class="col-lg-4">
                    <p>This page focuses on code I've written both for work and personal interest. I
                    hope to include some example projects below, but they are currently filled with the
                    theme templates.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://briardew.github.io/cv_bweir.pdf" class="btn btn-lg btn-revline">
                        <i class="fa fa-file-pdf-o"></i> CV 
                    </a>
                    <a href="https://science.gsfc.nasa.gov/sed/bio/brad.weir" class="btn btn-lg btn-revline">
                        <i class="fa fa-external-link"></i> NASA Bio 
                    </a>
                    <a href="https://orcid.org/0000-0001-6160-0577" class="btn btn-lg btn-revline">
                        <i class="fa fa-external-link"></i> ORCiD 
                    </a>
                    <a href="https://scholar.google.com/citations?user=QLumsO0AAAAJ" class="btn btn-lg btn-revline">
                        <i class="fa fa-external-link"></i> Google Scholar 
                    </a>
                </div>
            </div>
        </div>
    </section>
