 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>First column of text.</p>
                </div>
                <div class="col-lg-4">
                    <p>Second column of text.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://briardew.github.com/cv.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Curriculum Vitae [PDF]
                    </a>
                </div>
            </div>
        </div>
    </section>
