<!-- Code Grid Section -->
<section class="success" id="code">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Code</h2>
        <hr class="star-light">
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/briardew/MiCASA" class="btn btn-lg btn-sucline">
          <i class="fa fa-file"></i> MiCASA 
        </a>
        <a href="https://github.com/briardew/compost" class="btn btn-lg btn-sucline">
          <i class="fa fa-github"></i> compost 
        </a>
         <a href="https://github.com/briardew/codas" class="btn btn-lg btn-sucline">
          <i class="fa fa-github"></i> codas 
        </a>
        <a href="https://github.com/briardew/xtralite" class="btn btn-lg btn-sucline">
          <i class="fa fa-github"></i> xtralite 
        </a>
      </div>
    </div>
  </div>
</section>
